.gitattributes export-ignore
.gitignore export-ignore
.venv export-ignore
/bin export-ignore
/etc/version.txt export-ignore
/modules export-ignore
/sbin export-ignore
/slack export-ignore
poetry.lock export-ignore
pyproject.toml export-ignore
